#!KAMAILIO

debug=2
log_stderror=no
log_facility=LOG_LOCAL0

fork=yes
children=2
auto_aliases=no

alias=10.100.200.99
alias=ims.free5gc.org

listen=udp:10.100.200.99:5060
listen=tcp:10.100.200.99:5060

tcp_accept_no_cl=yes
tcp_connection_lifetime=120

mpath="/usr/lib/x86_64-linux-gnu/kamailio/modules/"

loadmodule "tm.so"
loadmodule "sl.so"
loadmodule "maxfwd.so"
loadmodule "textops.so"
loadmodule "siputils.so"
loadmodule "xlog.so"
loadmodule "pv.so"

request_route {
    xlog("L_INFO", "fake-pcscf request $rm from $si:$sp ruri=$ru len=$ml\n");

    if (!mf_process_maxfwd_header("10")) {
        sl_send_reply("483", "Too Many Hops");
        exit;
    }

    if (is_method("REGISTER")) {
        route(FAKE_REGISTER);
        exit;
    }

    if (is_method("SUBSCRIBE")) {
        route(FAKE_SUBSCRIBE);
        exit;
    }

    if (is_method("OPTIONS")) {
        sl_send_reply("200", "OK");
        exit;
    }

    sl_send_reply("501", "Not Implemented");
    exit;
}

route[FAKE_REGISTER] {
    xlog("L_INFO", "fake-pcscf REGISTER from=$fu contact=$ct callid=$ci cseq=$cs\n");

    if ($ct != $null) {
        append_to_reply("Contact: $ct;expires=600\r\n");
    }

    append_to_reply("Expires: 600\r\n");
    append_to_reply("P-Associated-URI: $fu\r\n");
    append_to_reply("Service-Route: <sip:10.100.200.99:5060;lr>\r\n");
    append_to_reply("Server: kamailio-fake-pcscf\r\n");

    sl_send_reply("200", "OK");
    exit;
}

route[FAKE_SUBSCRIBE] {
    xlog("L_INFO", "fake-pcscf SUBSCRIBE from=$fu event=$hdr(Event) callid=$ci cseq=$cs\n");

    if ($hdr(Event) != $null) {
        append_to_reply("Event: $hdr(Event)\r\n");
    }

    append_to_reply("Expires: 600\r\n");
    append_to_reply("Server: kamailio-fake-pcscf\r\n");

    sl_send_reply("200", "OK");
    exit;
}
